<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f3f3e6e4-8bd5-43e9-9229-f18173416bca");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
